<div class="hotel-images" *ngIf="hotel">
    <div class="image" [style.background-image]="'url(' + hotelValue.image + ')'"></div>

    <p><em>Location:</em> {{hotelValue.location }}</p>

    <table class="display data-table">
        <thead>
        <tr>
            <th>
                Type:
            </th>
            <th>
                Number of People:
            </th>
            <th>
                Area:
            </th>
            <th>
                Price:
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>